<!--defining home page view-->
<div ng-controller="home">
	<section class="home-back">
		<div class="back-img">
		</div>
		<!-- side header -->
		<header>



			<ul>
				<li>
					<a href="#">Home&nbsp;
								<div class="link-line"></div></a>
				</li>
				<li>
					<a href="#">Catalogs&nbsp;
								<div class="link-line"></div></a>
				</li>
				<li>
					<a href="#">Login&nbsp;
								<div class="link-line"></div></a>
				</li>
				<li>
					<a href="#">SignUp&nbsp;
								<div class="link-line"></div></a>
				</li>
			</ul>


		</header>

		<div class="details-container">

			<!--search container for home page-->
			<div class="search-container">


				<div class="logo">

					<img id="icon" src="../assets/images/logo.png"> </div>
				<div class="title">
					<h2>Take the world's best courses, online.</h2>

					<input type="text" placeholder="Search your topic eg. Web Development"><i class="fa fa-search"></i> </div>


			</div>

		</div>

		<div class="scroll-down">
			<i class="fa fa-chevron-down"></i>
		</div>

	</section>

	<section class="institutes-list">
		<div class="sec-header">
			<div class="row">
				<div class="sec-logo col col-4">
					<img src="../assets/images/logo.png">
				</div>
				<div>
					<ul>
						<li>
							<a href="#">HOME</a>
						</li>
						<li>
							<a href="#">CATALOGS</a>
						</li>
						<li>
							<a href="#">LOGIN</a>
						</li>
						<li>
							<a href="#">SIGNUP</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="institutes-outer">
			<div class="institutes-inner">
				<ul>
					<li>
						<img src="../assets/images/Duke_University_Logo.png">
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>