<!--defining home page view-->
<section ng-controller="home">
	<div class="home-back">
		<div class="back-img">
		</div>

		<div class="details-container">

			<!--header for home page-->
			<header>
				<div class="row">
					<div class="col col-6">

						<img id="icon" src="../assets/images/logo.png"> </div>
					<div class="push-right col col-6">
						<ul>
							<li>
								<a href="#">Home</a>
								<div class="link-line"></div>
							</li>
							<li>
								<a href="#">Catalogs</a>
								<div class="link-line"></div>
							</li>
							<li>
								<a href="#">Login</a>
								<div class="link-line"></div>
							</li>
							<li>
								<a href="#">SignUp</a>
								<div class="link-line"></div>
							</li>
						</ul>
					</div>
				</div>
			</header>


			<!--search container for home page-->
			<div class="search-container">

				
				
					<div class="title">
						<h2>Take the world's best courses, online.</h2>
					
						<input type="text" placeholder="Search your topic"><i class="fa fa-search"></i> </div>
			
				
			</div>

		</div>

	</div>
</section>
