<!-- header for search page -->
<div ng-controller="home as search ">
<div class="header-sec desktop search-header">
		<div class="row">
		<div class="logo-hor col col-2">
			<a href="/">
			<img src="../assets/images/logo-icon.png"></a>
		</div>
		<div class="search-hor col col-4">
			<input type="text" placeholder="Search Catalog " ng-model="search.topic_search"><i class="fa fa-search"></i>
		</div>
		<div class="col col-6">
				<ul>
				
				<li >
					<a href="#">Catalogs&nbsp;
								</a>
				</li>
				<li >
					<a href="#">Institutes&nbsp;
								</a>
				</li>
				<li  >
					<a href="#">Login&nbsp;
						</a>
				</li>
				<li >
					<a href="#">SignUp&nbsp;
								</a>
				</li>
			</ul>
		</div>
		</div>
	</div>
	<!-- mobile header -->
		<div class="header-sec-mob mobile">
		<div class="row ">
		<div class="logo-hor col sm-col-4">
			<a href="/"><img src="../assets/images/logo-icon.png"></a>
		</div>
		<div class="col slider sm-col-4">
			<i class="fa fa-sliders"></i>
		</div>
		<div class="col cross-slide sm-col-4">
			<i class="fa fa-times"></i>
		</div>
		<div class="bars col sm-col-4">
			 <i class="fa fa-bars"></i>
		</div>
		<div class="cross col sm-col-4">
			 <i class="fa fa-times"></i>

		</div>
	</div>
	<div class="row">
		<div class="search-hor col col-12">
			<input type="text" placeholder="Search Catalog "><i class="fa fa-search"></i>
		</div>
	
		</div>

			<div class="mob-menu mobile">
				<ul>
				<li id="one">
					<a href="#">Catalogs&nbsp;
								</a>
				</li>
				<li id="two">
					<a href="#">Institutes&nbsp;
								</a>
				</li>
				<li id="three" >
					<a href="#">Login&nbsp;
								</a>
				</li>
				<li id="four">
					<a href="#">SignUp&nbsp;
								</a>
				</li>
			</ul>
		</div>
	</div>


<section class="search-results">

<div class="filter-search ">

	<form>
	<h3> Availability</h3>
	
		<input type="checkbox"> This Month<span class="push-right">10</span><br><br>
		<input type="checkbox"> Selfpaced<span class="push-right">0</span><br><br>
		<input type="checkbox"> Free Enroll<span class="push-right">2</span><br><br><br>
		<h3> All Topics</h3>
	
		<input type="checkbox"> Computer Science<span class="push-right">4</span><br><br>
		<input type="checkbox"> Physical Science<span class="push-right">10</span><br><br>
		<input type="checkbox"> Data Science<span class="push-right">2</span><br><br><br>
		<h3> Courses Language</h3>
	
		<input type="checkbox"> English<span class="push-right">23</span><br><br>
		<input type="checkbox"> Spanish<span class="push-right">21</span><br><br>
		<input type="checkbox"> Hebrew<span class="push-right">6</span><br><br><br>
		<h3> Subtitle Language</h3>
	
		<input type="checkbox"> English<span class="push-right">5</span><br><br>
		<input type="checkbox"> Vietnam<span class="push-right">12</span><br><br>
		<input type="checkbox"> Polish<span class="push-right">0</span><br><br><br>

</form>
</div>



	
		<div class="result-container">
			<h3>56 Results: Web Development </h3>
				<div class="result-list">
					<ul>
						<li>
							<span class="search-img"><img src="../assets/images/hb.jpg">
							</span>
							<span class="search-content">

								<h3>Human Behaviour Study</h3>
								
								<h3 class="light-color">Duke University</h3>

								<p>Hii this is just dummy text, will get full content ... 
									<a href="#" class="light-color-view">View More</a>
								</p>
								<h3 class="light-color">By Alain Aspect, Michael Lenox</h3>
 
							</span>
						</li>
						<li>
							<span class="search-img"><img src="../assets/images/bio.jpg">
							</span>
							<span class="search-content">

								<h3>Biological Science</h3>
								
								<h3 class="light-color">Duke University</h3>

								<p>Hii this is just dummy text, will get full content ...
										<a href="#" class="light-color-view">View More</a>
								</p>
								<h3 class="light-color">By Alain Aspect, Michael Lenox</h3>
 
							</span>
						</li><li>
							<span class="search-img"><img src="../assets/images/art.jpg">
							</span>
							<span class="search-content">

								<h3>Art & Design</h3>
								
								<h3 class="light-color">IBM University</h3>

								<p>Hii this is just dummy text, will get full content ... 
										<a href="#" class="light-color-view">View More</a>
								</p>
								<h3 class="light-color">By Alain Aspect, Michael Lenox</h3>
 
							</span>
						</li><li>
							<span class="search-img"><img src="../assets/images/game.jpg">
							</span>
							<span class="search-content">

								<h3>Gamification</h3>
								
								<h3 class="light-color">Rutbergs University</h3>

								<p>Hii this is just dummy text, will get full content ... 
										<a href="#" class="light-color-view">View More</a>
								</p>
								<h3 class="light-color">By Alain Aspect, Michael Lenox</h3>
 
							</span>
						</li><li>
							<span class="search-img"><img src="../assets/images/miss.jpg">
							</span>
							<span class="search-content">

								<h3>Missing Data</h3>
								
								<h3 class="light-color">Stanford University</h3>

								<p>Hii this is just dummy text, will get full content ...
										<a href="#" class="light-color-view">View More</a>
								</p>
								<h3 class="light-color">By Alain Aspect, Michael Lenox</h3>
 
							</span>
						</li>
					</ul>
				</div>
		</div>
		
	</div>
	
</section>

<footer>
	<div class="row">
		<div class="col col-6">
			<div class="row">
				<div class="col sm-col-6">
					<h3>Company</h3>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">People</a></li>
						<li><a href="#">Leadership</a></li>
						<li><a href="#">Careers</a></li>
									
					</ul>
				</div>
				<div class="col sm-col-6">
					<h3>Friends</h3>
					<ul>
						<li><a href="#">Partners</a></li>
						<li><a href="#">Companies</a></li>
						<li><a href="#">Programs</a></li>
						<li><a href="#">Develelopers</a></li>
						<li><a href="#">Volunteer</a></li>
									
					</ul>
				</div>
			</div>
		</div>
		<div class="col col-6">
			<div class="row">
				<div class="col sm-col-6">
					<h3>More</h3>
					<ul>
						<li><a href="#">Term</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Directory</a></li>
									
					</ul>
					
				</div>
				<div class="col sm-col-6">
					<h3>Connect</h3>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		@copyright-just-a-task-2016
	</div>

</footer>

	</div>