body {
	font-family: 'Roboto';
	background: #f9f9f9;
	overflow-x: hidden;
}

ul li {
	display: inline-block;
	margin-left: 40px;
	cursor: pointer;
}

ul li a {
	font-family: 'Geo';
	font-size: 0.8em;
	color: #ddd;
	transition: all 0.2s ease-in-out;
}

ul li a:hover {
	color: #E9B361;
}

.clear {
	clear: both;
}

.push-right {
	float: right;
}

.push-left {
	float: left;
}

#home-back {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background: #000;
	top: 0px;
	position: absolute;
	transition: all 0.5s ease-in-out
}

.back-img {
	position: fixed;
	z-index: -20;
	width: 100vw;
	height: 100vh;
	background-image: url(../images/index-back.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.3;
	overflow: hidden;
}

.details-container {
	height: 100vh;
	display: table;
	padding: 20px 60px 40px 40px;
}

#icon {
	width: 180px;
	margin-left: -12px;
}

header {
	height: 100vh;
	position: fixed;
	right: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header ul {
	text-align: right;
	/*display: table-cell;*/
	vertical-align: middle;
}

header ul li {
	display: block;
	font-size: 0.9em;
	margin: 20px 0px;
	position: relative;

}
#one{
	transition:all 0.2s ease-in-out;
}
#two{
	transition:all 0.4s ease-in-out;
}
#three{
	transition:all 0.6s ease-in-out;
}
#four{
	transition:all 0.8s ease-in-out;
}

.link-line {
	vertical-align: middle;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 2px;
	background-color: #E9B361;
	margin-left: auto;
	margin-right: auto;
	/*margin-left: 5px;*/
	left: 0px;
	right: 0px;
	margin-top: -4px;
	transition: all 0.2s ease-in-out;
}

header ul li:hover .link-line {
	width: 40px;
}


/*search container styles============*/

.search-container {
	display: table-cell;
	vertical-align: middle;
	/*float: left;*/
}


.title h2 {
	color: #fff;
	font-size: 1.5em;
	padding-top: 10px;
}

 input[type="text"] {
	display: inline-block;
	margin-top: 10px;
	height: 42px;
	padding-left: 10px;
	width: 560px;
	color: #fff;
	border: 0px;
	/*border-bottom: 1px solid #fff;*/
	background: rgba(255, 255, 255, 0.3);
	border-radius: 2px;
	font-size: 1em;
	font-family: 'Roboto';
	font-weight: 400;
	transition: all 0.2s ease-in-out;
}

 input:focus {
	/*border-bottom: 1px solid #E9B361*/
	color: #252525;
	background: rgba(255, 255, 255, 1);
}

 input .search-details {
	width: calc(100% - 500px);
}

.title i, .search-hor i{
	margin-left: -28px;
	color: #d2d2d2;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

input:focus ~ i {
	color: #4d4d4d;
}

.logo img {
	width: 100%;
}

 input:focus::-webkit-input-placeholder {
	color: #9d9d9d;
	font-size: 'Roboto'
}

 input:focus::-moz-placeholder {
	color: #d2d2d2;
}

 input:focus:-ms-input-placeholder {
	color: #d2d2d2;
}

::-webkit-input-placeholder {
	color: #d2d2d2;
	font-size: 'Roboto'
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #d2d2d2;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #d2d2d2;
}

:-ms-input-placeholder {
	color: #d2d2d2;
}

.scroll-down {
	position: absolute;
	bottom: 20px;
	display: inline;
	margin-right: auto;
	margin-left: auto;
	left: 0px;
	right: 0px;
	color: #fff;
	text-align: center;
	-webkit-animation: down 1s infinite;
	animation: down 1s infinite;
	animation-direction: alternate-reverse;
}

@keyframes down {
	from {
		opacity: 0;
		bottom: 30px;
	}
	to {
		opacity: 1;
		bottom: 20px;
	}
}

@-webkit-keyframes down {
	from {
		opacity: 0;
		bottom: 30px;
	}
	to {
		opacity: 1;
		bottom: 20px;
	}
}

/*second header (horizontal)*/

.header-sec{
	display: block;
	top: -100px;
	width: 100vw;
	padding: 20px 40px;
	position: fixed;
	z-index: 4;
	background: rgba(0,0,0,0.9);
	transition:all 0.4s ease-in-out;

}
.move-sec-header{
	top: 0px;
}
.logo-hor{
	/*height: 30px;*/
	margin-top: 5px;
	height: 30px;	
}
.logo-hor img{
	height: 100%;
}
.search-hor{
	text-align: center;
}
.search-hor input{
	font-size: 0.85em;
	margin-top: 0px;
	width: 100%;
	font-family: 'Roboto';
	font-weight: 400;
}
.search-hor  i{
	font-size: 0.9em;
}
.header-sec ul{
	float: right;
	margin-top: 12px;
}
.header-sec ul li{
	margin-left: 20px;
}
.header-sec ul li a{
	font-size: 0.75em;
}

/*section 2styling*/



.desktop{
	display: block;
}
.mobile{
	display: none;
}
.header-sec-mob{
	position: fixed;
	z-index: 4;
	top: 0px;
	width: 100%;
	padding:20px 40px;
	background: rgba(0,0,0,0.9);
	overflow: scroll;
}

.bars,.cross,.slider,.cross-slide{
	text-align: right;
	font-size: 1.5em;
	color: #fff;
	margin-top: 4px;
}
.slider,.cross-slide{
	text-align: center;
	cursor: pointer;
}
.header-sec-mob .search-hor{
	
	margin-top: -100px;
	transition:all 0.4s ease-in-out;
}
.header-sec-mob .header-sec-mob-top{
	margin-top: 10px;
}
.mob-menu{
	height: 0px;
	overflow: hidden;
	transition:all 0.3s ease-in-out;
}
.mob-menu ul li{
	height: 0px;
	display: block;
	text-align: center;
	margin: 30px 20px;
	overflow: hidden;
	transition:all 0.4s ease-in-out;

}
.mob-menu ul li a{
	font-size: 1em;
}

/*section 2*/
#sec-2{
	margin-top: 100vh;
	display: block;
	padding: 40px 40px ;
	position: relative;
	background: #f9f9f9;
}
#sec-2 h2{
	font-family: 'Geo';
	font-size: 0.9em;
	color: #4d4d4d;
	margin-bottom: 20px;

}

/*Top institute */

.institute-outer,.spec-outer,.spec-outer-related{
	width: 100%;
	height: 140px;
	position: relative;
	display: block;
	overflow-x:scroll;

}
.institute-inner{
	display: block;
	width:1600px;
	height: 120px;
	padding-top: 5px;
	margin-right: 40px;
	/*margin-top: 20px;*/
	overflow-x: scroll;
	background: transparent;
}
.institute-inner ul li{
	display: inline-block;
	float: left;
	height: 100px;
	border-radius: 2px;
	margin-right: 20px;
	padding: 20px 20px;
	text-align: center;
	transition:all 0.2s ease-in-out;
	padding-top: 35px;

}
.institute-inner ul li:hover{
	background: #fff;
	box-shadow: 0px 0px 6px #9d9d9d;
}
.dir,.spec-dir{
	position: absolute;
	z-index: 1;
	
	/*top: 0px;
	left: 0px;*/
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
	padding-top: 12px;
	margin-top: 35px;
	background: rgba(0,0,0,0.6);
	transition:all 0.2s ease-in-out;
	cursor: pointer;
}
.spec-dir{
	margin-top: 55px;
}
.dir:hover,.spec-dir:hover{
	background: rgba(0,0,0,0.9);
}
.right{
	right: 40px;
}
.right-spec,.right-spec-related{
	right: 60px;
}
.specialization-container{
	display: block;
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 6px #9d9d9d;
	padding: 30px 20px;
	border-radius: 2px;
	margin-bottom: 40px;
}


/*specialization*/

.specialization-inner{
	width: 1850px;
	height: 140px;
}

.specialization-inner ul li{
	display: inline-block;
	margin-top: 4px;
	width: 130px;
	height: 130px;
	border-radius: 2px;
	background: #000;
	float: left;
	overflow: hidden;
	opacity: 0.3;
	transition:all 0.2s ease-in-out;
}
.specialization-inner ul li.active-list,
.specialization-inner ul li:hover{
	opacity: 1;
	box-shadow: 0px 0px 4px #4d4d4d;
}
.specialization-inner ul li img{
	height: 100%;
}
.spec-details{
	color: #252525 ;
	margin-top: 25px;
}
.spec-details h2{
	color: #252525 !important;
}

h2.university-name{
	font-size: 1em;
	font-family: 'Roboto' !important;
	font-weight: 500;
	color: #9d9d9d  !important;
	margin-top: -15px;
}
p{
	font-size: 1em;
	line-height: 18px;
	color: #252525;
}
.bottom-details{
	margin-top: 20px;

}
.bottom-details span{
	font-family: 'Geo';
	font-size: 0.8em;
	color: #9d9d9d;
}
.bottom-details span a{
	/*font-size: 0.8em;*/
	color: #9d9d9d;
	transition:all 0.2s ease-in-out;
}
.bottom-details span a:hover{
	color: #E9B361;
}

/*related courses*/

.dark{
	background: #252525;	
}
.dark .specialization-inner ul li{
	box-shadow: 0px 0px 6px #000;
	/*opacity: 0.3;*/
}
h2.light,.light{
	font-family: 'Roboto Light';
	font-weight: 400;
	color: #fff !important;
}


/*footer*/

footer {
	position: relative;
	text-align: center;
	padding: 40px 0px 0px 0px ;
	background: rgba(0,0,0,0.8);
	border-top: 1px solid #9d9d9d;
}
.footer-bottom{
	display: block;
	background: #131313;
	width: 100%;
	/*height:40px;*/
	text-align: right;
	padding: 15px 40px;
	color: #9d9d9d;
	font-size: 0.8em;
}
footer h3{
	color: #9d9d9d;
	font-size: 0.7em;
}
footer ul li{
	display: block;
	margin: 20px 0px;
}
footer ul li a{
	font-size: 0.7em;
	color: #f9f9f9;
}


/*search page*/


.search-header{
	top: 0px;
}
.search-results{
	display: block;
	width: 100vw;
	padding: 40px;
	margin-top: 70px;
}
.search-results h3{
	font-size: 0.9em;
	color: #9d9d9d;
}
.result-container{
	padding-left: 320px;
}
.result-list{

	display: inline-block;
	width: 100%;
	/*width: calc(100% - 300px);*/
	padding: 20px 0px 40px 0px;
	text-align: left;
}
.result-list ul li{
	display: block;
	width: 100%;
	height: 140px;
	/*padding:20px;*/
	background: #fff;
	margin-left: 0px;
	border-radius: 2px;
	box-shadow: 0px 0px 2px  #9d9d9d;
	transition:all 0.2s ease-in-out;
	margin-bottom: 35px;
	overflow: hidden;
	position: relative;

	
}
.result-list ul li .search-img{
	height: 100%;
	width: 140px;
	overflow: hidden;
	position: absolute;

}
.result-list ul li .search-img img{
	height: 100%;
}
.result-list ul li:hover{
	box-shadow: 0px 0px 4px  #9d9d9d;
}
.filter-search{
	display: block;
	position: absolute;
	width: 270px;
	/*height: calc(100vh - 150px);*/
	background: #252525;
	border-radius: 4px;
	box-shadow: 0px 0px 4px #9d9d9d;
	padding: 20px 30px;
	z-index: 2;
	overflow: scroll;
	transition:all 0.4s ease-in-out;
}
.filter-search h3{
	position: relative;
	z-index: 1;
	width: 100%;
	/*padding:10px;*/
	margin-bottom: 20px;
}

.filter-search ::-webkit-scrollbar {
	/*    position: absolute;*/
	/*    z-index: 100;*/
	width: 4px;
	height: 0px;
}

.filter-search ::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: transparent;
}

.filter-search ::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: green !important;
}
input[type="checkbox"]{
	vertical-align: middle;
}
.filter-search form {
	color: #f9f9f9;
	font-size: 0.9em;

}
span.search-content{
	position: absolute;
	width: 100%;
	/*border: 1px solid red;*/
	height: 100%;
	padding:20px 20px 20px 160px;
}
span.search-content h3{
	color: #4d4d4d;
	font-size: 1em;
}
h3.light-color{
	color: #9d9d9d !important;
	font-family: 'Roboto';
	font-weight: 500;
	margin: 5px 0px 10px 0px;
}
span.search-content p{
	color: #4d4d4d;
	font-family: 'Roboto';
	margin-bottom: 14px;
}
.light-color-view{
	color: #9d9d9d;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 0.9em;
}
/*media queries*/


@media(max-width: 780px){
	.desktop{
	display: none;
}
.mobile{
	display: block;
}

	.title input{
		width: 100%;
		margin-left: -12px;
	}
	header{
		display: none;
	}
	.details-container{
		padding: 20px 40px;
	}
	.search-container,.title{
		text-align: center;
	}

	.title h2{
		font-size: 1.2em;
	}

	.details-container{
		width: 100vw;
	}
	.logo-hor{
		height: 25px;
	
	}
	.result-container{
		padding-left: 0px;
	}
	.filter-search{
		height: 0px;
		width: 100%;
		top: 70px;
		left: 0px;
		padding: 0px;
	}
}
@media(max-width: 1080px){
	span.search-content p{
		display: none;
	}

}